.text-red {
    color: red;
}
.bg-gray {
    background-color: #f1f2f3 !important;
}
.btn-no-style {
    border: none !important;
    border-radius: 0 !important;
    box-shadow: white;
    background: none !important;
    padding: 0;
    margin: 0;
}
/* .btn-no-style:hover{
background: #f1f2f3!important;
} */
.inline-form{
display: inline !important;
}
.primary{
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    line-height: 150px;
}
p.cham-than{
    font-size: 135px;
    color: orange;
}
