.text-red {
    color: red;
}
.bg-gray {
    background-color: #f1f2f3 !important;
}
.btn-no-style {
    border: none !important;
    border-radius: 0 !important;
    box-shadow: white;
    background: none !important;
    padding: 0;
    margin: 0;
}
/* .btn-no-style:hover{
background: #f1f2f3!important;
} */
.inline-form{
display: inline !important;
}
